#table-welcome-use{
	width: 600px;
	font-family: 'Open Sans', sans-serif;
	color: #6E6D72;
	font-size: 14px;
	background: #fff;
}

.table-center{
	margin: auto;
}

.table-spacing-0{
	border-spacing: 0; 
	border-collapse: collapse;
}

body{
	padding: 40px 0 30px;
	background: #2B344A;
}

h1, 
h2,
h3{
	color: #323136;
	font-weight: 300;
}

h1{
	font-size: 33px;
}

p,
b,
span{
	color: #6E6D72;
}

.align-center{
	text-align: center;
}

.display-block{
	display: block;
}

.white{
	color: #fff;
}

.padding-0{
	padding: 0;
}

.width-100{
	width: 100%;
}

#header{
	background-color: #EBECEE;
}

#header-logo{
	padding: 25px 0;
}

.menu{
	padding: 0;
	margin: 0;
	text-align: center;
}

.menu li{
	display: inline;
}

.menu li span{
	color: #6E6D72;
	font-size: 16px;
	text-decoration: none;
	padding: 5px;
}

.btn-green{
	background: #1DB79D;
	color: #fff;
	padding: 15px 0;
	border-radius: 4px;
	width: 100%;
	font-size: 15px;
	display: block;
	text-align: center;
	text-decoration: none;
}

.btn-twitter{
	background: #40A8E5;
	color: #fff;
	padding: 15px 10px;
	border-radius: 4px;
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	float: right;
	min-width: 160px;
}

.btn-facebook{
	background: #34529F;
	color: #fff;
	padding: 15px 10px;
	border-radius: 4px;
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	float: left;
	min-width: 160px;
}

.section-easy-as{
	background: #1DB79D;
	color: #fff;
	text-align: center;
}

.bkg-gray{
	background: #EBECEE;
}

.logo-footer{
	color: #1DB79D;
	font-size: 14px; 
	font-style: italic;
	display: inline;
}
